:root{
  --borderwidth: 2px;
  --grey: #ebebeb;
  --pink: #ff91e3;
  --blue: #5fd4f8;
  --brightpink: #f94dff;
  --brightblue: #1FCAFF;
  --boxshadowcolor: #0e0e0e;
  --PressStart: 'Press Start 2P', cursive;
  --Quicksand:  'Quicksand', sans-serif;
}
footer{
  position: fixed;
  bottom: 0;
/*   background: white; */
  width: 100%;
  font-weight: normal;
  text-align: center;
  padding: 0 .5em .5em;
}
#page_con{
  width: 100vw;
  height: 100vh;
  padding: 2em;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: min(4em, 4%);
  background-image: linear-gradient(45deg, #fff55b, #3b75ff, #c45aff, #fb6ffb, #c45aff, #3b75ff, #fff55b);
  background-size: 400% 400%;
  animation: gradient 60s alternate infinite;
  font-family: var(--Quicksand);
  font-weight: bold;
  cursor: default;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

#div_1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1{
  font-family: var(--PressStart);
  font-size: clamp(1rem, 3.5vw, 3rem);
  text-align: center;
/*   transform: scale(3); */
  margin-bottom: 1em;
  color: white;
  text-shadow: 2px 2px black;
}
button{
  border: var(--borderwidth) solid black;
  border-radius: 5px;
  font-size: 1em;
  font-family: var(--Quicksand);
  padding: .5em 0;
  background: var(--grey);
  box-shadow: 2px 2px var(--boxshadowcolor);
  transition: all 0.1s;
/*   cursor: pointer; */
}
button:hover, button:focus{
  background: var(--pink);
}
.active-button, #click-btns button:active{
  box-shadow: 0px 0px black;
  transform: translate(2px, 2px);
  background: #ff91e3;
  transition: all 0.1s;
}

#settings_div{
  width: min-content;
  white-space: nowrap;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  
  font-size: clamp(.5rem, 1.5vw, 1rem);
 
  gap: 1em;
  background: white;
  border: var(--borderwidth) solid black;
  border-radius: 10px;
  padding: 1.5em;
  box-shadow: 3px 3px var(--boxshadowcolor);
}

#settings-toggle_btns{
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
}

#click-btns{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
#click-btns button{
  flex: 1;
}

#mode-switch_div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .35em;
}
.switch{
  font-size: 1.3em;
  position: relative;
  width: 3em;
  height: 1.5em;
}
.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0 0 0 0;
  background-color: var(--brightpink);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 2em;
}
.slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  left: .3em;
  bottom: 15%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
  box-shadow: .1em 0px var(--boxshadowcolor);
}
input:checked + .slider {
  background-color: var(--brightblue);
}
input:checked + .slider:before {
  -webkit-transform: translateX(1.4em);
  -ms-transform: translateX(1.4em);
  transform: translateX(1.4em);
  box-shadow: -.1em 0px var(--boxshadowcolor);
  
}
.color-wheel_div{
  display: flex;
  gap: 1em;
}
.color-wheel_btn{
  flex: 1;
}
input[type="color"]{
  width: 2.5em;
  height: 2.5em;
  border: 2px solid black;
  border-radius: 5px;
  transform: translateY(2px);
}

#grid-slider_div{
  text-align: center;
}
input[type="range"]{
  font-size: 1em;
  width: 98%;
  -webkit-appearance: none;
  appearance: none;
  height: .7em;
  background: var(--grey);
  border: 1px solid black;
  border-radius: 20px;
/*   opacity: 0.7; */
}
input[type="range"]:hover{
/*   opacity: 1; */
}
input[type="range"]::-webkit-slider-thumb, input[type="range"]::-moz-range-thumb{
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 1.8em; /* Set a specific slider handle width */
  height: 1.8em; /* Slider handle height */
  background: var(--blue); /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 100%;
  border: 1px solid black;
/*   border: none; */
}

#grid-slider-text{
  margin-bottom: .35em;
}


#grid-holder_div{
  min-width: min(80vh, 60vw);
  height: min(80vh, 60vw);
  display: grid;
  gap: 1px;
  box-shadow: 4px 4px var(--boxshadowcolor);
  border: 3px solid black;
  border-radius: 5px;
/*   grid-template: repeat(16, 1fr) / repeat(16, 1fr); */
}

.grid{
  background-color: white;
  transition: transform .7s, background .3s;
}
.grid:hover{ /*this has to stay on the bottom */
  transform: scale(1.1);
  transition: transform 0.1s, background 0s;
}